.title {
  text-align: center;
  font-size: 50px;
  font-family: 'Monoton', cursive;
  text-shadow: 1px 1px 1px grey;
}
.className {
  text-align: center;
  font-size: 30px;
  font-family: 'Shippori Mincho B1', serif;
  text-shadow: 1px 1px 1px rebeccapurple;
}
#songName {
  font-size: 30px;
  font-weight: bolder;
}
#singer {
  font-size: 20px;
  font-weight: lighter;
  opacity: 0.6;
}
.note {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Shippori Mincho B1', serif;
}

#time {
  color: #ffffff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  opacity: 0.6;
}
#songPictures {
  display: block;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(2, 0, 27);
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
  height: 400px;
  width: 400px;
  /* border: #fff 3px dotted; */
}

.center {
  display: block;
  margin: auto auto;
  width: 90%;
}

.sound {
  text-align: center;
}

.lastRow {
  text-align: center;
  opacity: 0.7;
}

.container {
  /* position: absolute; */
  box-shadow: 0 0 10px #000000;
  border-radius: 10px;
  overflow: hidden;
  height: 900px;
  width: 450px;
  margin: auto;
  background-image: radial-gradient(rgba(31, 21, 169), rgb(82, 0, 144), rgb(38, 0, 88));
}

.main {
  color: #fff; 
  padding-left: 30px;
  font-family: 'RocknRoll One', sans-serif;
  text-shadow: 1px 1px 1px black;
}

.firstRow {
  position: relative;
  max-width: 100%;
  text-align: center;
}

.firstRow span.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .4s;
}
.firstRow:hover span.image-hover {
  opacity: 1;
}
.firstRow:hover span.image-main {
  opacity: 0;
}

.material-icons.md-light { color: rgba(255, 255, 255, 1); text-shadow: 2px 2px 3px rgb(192, 150, 246);}
.material-icons.md-80 { font-size: 80px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-40 { font-size: 40px; }
.material-icons.md-20 { font-size: 20px; opacity: 0.5;}

.lengthSlidecontainer {
  width: 80%; /* Width of the outside container */
  margin-left: auto;
  margin-right: auto;
}
.soundSlidecontainer {
  width: 70%; /* Width of the outside container */
  margin-left: auto;
  margin-right: auto;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 6px; /* Specified height */
  background: #ffffff; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  border-radius: 50%;
  background: #91abff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}